<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <display-name>OJJ Academico</display-name>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.ojj.academico.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.ojj.academico.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.ojj.academico.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.ojj.academico.filters.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/view/estudante/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/view/funcionario/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>view/auth/login.jsp</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>com.ojj.academico.init.AppInitializer</listener-class>
    </listener>

    <servlet>
        <servlet-name>FuncionarioAdminServlet</servlet-name>
        <servlet-class>com.ojj.academico.controller.FuncionarioAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FuncionarioAdminServlet</servlet-name>
        <url-pattern>/admin/funcionario/new</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FuncionarioListServlet</servlet-name>
        <servlet-class>com.ojj.academico.controller.FuncionarioListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FuncionarioListServlet</servlet-name>
        <url-pattern>/admin/funcionario/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FuncionarioEditServlet</servlet-name>
        <servlet-class>com.ojj.academico.controller.FuncionarioEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FuncionarioEditServlet</servlet-name>
        <url-pattern>/admin/funcionario/edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MatriculaEstudanteServlet</servlet-name>
        <servlet-class>com.ojj.academico.controller.MatriculaEstudanteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MatriculaEstudanteServlet</servlet-name>
        <url-pattern>/secretario/matricular</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeclaracaoEstudanteServlet</servlet-name>
        <servlet-class>com.ojj.academico.controller.DeclaracaoEstudanteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeclaracaoEstudanteServlet</servlet-name>
        <url-pattern>/secretario/declaracao</url-pattern>
    </servlet-mapping>
</web-app>
